body {
  font-family: Source Sans Pro;
  background: white;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 345px;
  max-width: 345px;
  margin-left: -345px;
  background: #121933;
  transition: all 0.3s;
}

#sidebar.open {
  margin-left: 0px;
}

.mobileClose {
  width: 100%;
  background: #121933;
  padding: 15px 0px 15px 10px;
  color: white;
  position: sticky;
  top: 0;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}

#sidebar ul li a:hover {
  color: white;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #121933;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

button[data-mobile-button] {
  background: transparent;
  color: white;
  border: none;
}

div[data-body] {
  padding: 0px 20px;
}
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

div[data-input] {
  margin: 0px 10px;
  padding-right: 10px;
  background-color: rgba(110, 119, 149, 0.28);
  height: 48px;
}

input {
  background-color: rgb(44, 51, 78);
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding-left: 10px;
  width: 100%;
}

input:focus {
  outline: none;
}

[data-button] {
  background-color: rgb(44, 51, 78);
  border: none;
  color: white;
}
